<p-table [value]="speakers" selectionMode="single" (onRowSelect)="onSelectSpeaker($event.data)">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Picture</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-speaker>
      <tr [pSelectableRow]="speaker">
        <td>{{ speaker.name }}</td>
        <td>{{ speaker.age }}</td>
        <td>{{ speaker.email }}</td>
        <td>{{ speaker.phone }}</td>
        <td>{{ speaker.address }}</td>
        <td>
          <img [src]="speaker.pictureUrl" alt="{{ speaker.name }}" width="50" />
        </td>
      </tr>
    </ng-template>
  </p-table>
  